# Python build artifacts
*.egg-info

# Virtual Environment
venv/
.venv/

# PyCharm
.idea/

# Python caches
__pycache__/
*.pyc
.pytest_cache/

# Dataiku
.dataiku
.langgraph_api
scripts/langsmith_tracing.py
scripts/langgraph_dev.py

# Environment files
.env

# Local tests
sandbox.ipynb
debug.py